<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
</head>
<body>
 <form action="LoginServlet">
  <table>
  <tr>
	<td>Phone</td>
	<td>:</td>
	<td><input type="text" name="ph"></td>
  </tr>
  <tr>
	<td>Password</td>
	<td>:</td>
	<td><input type="password" name="pw"></td>
  </tr>
  <tr>
	<td></td>
	<td></td>
	<td><input type="submit" value="Login"></td>
  </tr>
    <tr>
		<td><a href="Register.html">Register</a></td>
		<td></td>
		<td><a href="CheckPhone.html">CheckPhone</a></td>
	</tr>
  </table>
 </form>
</body>
</html>